<!doctype html>

<html lang="en" ng-app="PlaylistMagic">
<head>
    <meta charset="utf-8">
    <title>Playlist Magic</title>
    <meta name="description" content="Generated Spotify Playlists You Could Even Like">
    <meta name="author" content="Tyler Bettilyon">
</head>

<body>
    <h1> Playlist Magic </h1>
    <base href="/">
    <ng-view></ng-view>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="/client/js/app.js"></script>
    <script src="/client/js/controllers/PlaylistsController.js"></script>
    <script src="/client/js/controllers/DiscographyController.js"></script>
    <script src="/client/js/services/SpotifyRequester.js"></script>
</body>
</html>